<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="/css/employer.css">
    <title>MilkWay</title>
  </head>
  <body>

    <div class="header">
        <img src="/css/logo.png" alt="MilkWay Logo" class="logo">
        <h1>MilkWay</h1>
    </div>

    <div class="button-grid">
      <a href="panel/mycustomer" class="button">
        <h2>customer</h2>
      </a>

      <a href="panel/transact" class="button">
        <div class="button__logo"></div>
        <h2>Transaction</h2>
      </a>

      <a href="panel/entry" class="button">
        <div class="button__logo"></div>
        <h2>Entry</h2>
      </a>

      <a href="transferRoute" class="button">
        <div class="button__logo"></div>
        <h2>Route</h2>
      </a>

      <a href="panel/applyLeave" class="button">
        <div class="button__logo"></div>
        <h2>Apply Leave</h2>
      </a>
      
    </div>
  </body>
</html>
