<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entry Form</title>
  <style>

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
    }

    /* Header styles */
    .header {
      background-color: #2C3E50;
      color: #fff;
      padding: 10px;
      display: flex;
      align-items: center;
    }

    /* Add styles for the company logo */
    .logo {
      height: 50px;
      margin-right: 10px;
    }

    /* Form styles */
    .form {
      margin: 20px auto;
      max-width: 600px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
    }

    .form h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form input[type=text], .form input[type=number], .form input[type=email], .form input[type=date] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      outline: none;
    }

    .form select {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      outline: none;
    }

    .form label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form button {
      background-color: #00A000;
      color: #fff;
      padding: 10px 30px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      margin-left: 30%;
      cursor: pointer;
    }

    .form button[type=submit]:hover {
      background-color: rgb(3, 214, 3);
    }

    {{!--  --}}
        .popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


    {{!--  --}}
  </style>
</head>
<body>

  <div class="header">
    <img src="/css/logo.png" alt="MilkWay Logo" class="logo">
    <h1>MilkWay</h1>    
  </div>

  <div class="form">
    <h2>Transaction</h2>
    {{!-- <form action="/addCustomer?" method="post"> --}}

      <label for="uid">Uid:</label>
      <input type="text" id="uid" name="uid" required readonly />

      <label for="date">DATE:</label>
      <input type="date" id="date" name="date" required />

      <label for="amount">Amount:</label>
      <input type="number" name="amount" id="amount" min="0" required/>

      <label for="mode">Mode:</label>
      <select name="mode" id="mode">
        <option value="card">card</option>
        <option value="cash">cash</option>
      </select>  

      <label for="reason">Reason:</label>
      <input type="text" id="reason" name="reason" required/>

      <button onclick="updateEntry()">Add transact</button>
    {{!-- </form> --}}
  </div>
</body>
<script>

    const uid = document.getElementById("uid");
    const date = document.getElementById("date");
    const amount = document.getElementById("amount");
    const mode = document.getElementById("mode");
    const reason = document.getElementById("reason");

    uid.value = sessionStorage["uid"];
    

    date.valueAsDate = new Date();


        async function updateEntry() {
            console.log("called")
            await fetch(`http://localhost:9000/transaction/${sessionStorage["uid"]}`, {
                'method' : 'POST',
                'headers' : {
                    'Content-Type' : 'application/json'
                },
                'body' : JSON.stringify({
                    uid : uid.value,
                    date : date.value,
                    amount : amount.value,
                    mode : mode.value,
                    reason : reason.value
                })
            })
        }

</script>
</html>

